Webpage_WS/.idea/workspace.xml
Webpage_WS/.idea/workspace.xml
catalog-v001.xml
IMDbPY/.idea/.name
IMDbPY/.idea/imdb.iml
IMDbPY/.idea/modules.xml
IMDbPY/.idea/workspace.xml
ProcessData/.idea/compiler.xml
ProcessData/.idea/encodings.xml
Webpage_WS/.idea/workspace.xml